form {
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    margin-top: 40px;
}

form .btn-primary {
    justify-self: flex-end;
    margin-left: auto;
}

form > label:nth-child(2) {
    margin-left: 20px;
    color: var(--primaryText);
}