.inputs-main {
    display: flex;
}

.inputs-main form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.inputs-main > button {
    margin-left: auto;
    align-self: flex-end;
}

.inputs-main form > label:nth-child(2) {
    margin-left: 20px;
    color: var(--primaryText);
}

.inputs-main form label p {
    display: none;
}

.modal-large {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FCFCFD;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    margin: 50px 0;
    padding: 30px 20px;
    border: 1px solid #EBEAED;
    position: relative;
}

.modal-large button {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-modal-remove {
    text-decoration: none;
    color: var(--blue);
    font-size: 18px;
    position: absolute;
    top: 30px;
    right: 20px;
}

.modal-background {
    background: var(--primaryText);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
    visibility: hidden;
}

.modal-remove, .modal-add {
    background: white;
    color: var(--primaryText);
    width: 100vw;
    max-width: 600px;
    padding: 30px;
    border: 2px solid #8F8A9B;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-remove button, .modal-add button {
    float: right;
    margin-top: 20px;
    margin-left: 15px;
}

.modal-remove span img, .modal-add span img {
    width: 12px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.modal-add input, .modal-add textarea {
    width: 100%;
    margin: 5px 0 15px 0;
}

.modal-add p {
    margin-top: 10px;
}

.modal-add textarea {
    resize: none;
    height: 100px;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.modal-animation {
    animation: fadeUp .6s ease;
    overflow-x: hidden;
}

@keyframes fadeUp {
    from{
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 640px) {
    .inputs-main {
        flex-direction: column;
    }

    .inputs-main button {
        margin: 20px auto 0 0;
    }

    .inputs-main form {
        flex-direction: column;
        align-items: flex-start;
    }

    .inputs-main form input, .input-search {
        width: 100%;
    }

    .inputs-main form > label:nth-child(2) {
        margin: 20px 0 0 0;
    }
}

@media(max-height: 620px) {
    .modal-remove, .modal-add{
        height: 100vh;
        padding: 10px 30px;
    }

    .modal-add input, .modal-add textarea {
        width: 100%;
        margin: 5px 0 10px 0;
    }
}